<h1>Appointment created</h1>

<h2>Appointment num: <%= @appointment.id %></h2>

<h2>grade: <%= @appointment.grade %></h2>

<h5>Content: <%= @appointment.content %></h5>

<h3>subject: <%= @appointment.subject %></h3> 

<form method="post" action="/Appointments/<%= @appointment.id %>">

<input id="hidden" type="hidden" name="_method" value="DELETE">

<input type="submit" value="delete"> 
</form>

<a href="/Appointments/<%= @Appointment.id %>/edit">Change Appointment</a>

<br>
<a href="/profile">Profile</a>
<br>

<a href="/">Home</a>